
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
}

.logo {
    color: #00f5d4;
    font-size: 25px;
    font-style: italic;
}

nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #00f5d4;
}


.sania {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: center;
}

.hero span {
    color: #00f5d4;
}


.buttons {
    display: flex;
    gap: 15px;
}

button {
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    background: #00f5d4;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    box-shadow: 0 0 20px #00f5d4;
}

.outline {
    background: transparent;
    border: 1px solid #00f5d4;
    color: white;
}


.glass {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    margin: 20px;
    padding: 30px;
}
.about {
    text-align: center;
}


.projects {
    text-align: center;
    padding: 40px;
}

.project-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}


.contact {
    text-align: center;
}
footer {
    text-align: center;
    padding: 20px;
}
